.form-control {
	width: 485px;
}
#headerwrap{
	padding-top:120px;
	padding-bottom: 20px;
}
.btn-timer{
	background: red;
	border: red;
	font-size: 44px;
}
.instruction-txt{
	
	color:rgba(241,241,241,1);

}

.action-des{
	color: #C2C8C9;
	margin: 13px 0px;
}
.large-timer{
	font-size: 105px !important;
	background: rgba(2,3,4,0.4);
	color: white;
}
.reset{
	color: #CECBC8;
	font-style:italic;

}
.steps-list {
  position: absolute;
  top: 10%;
  background-color: rgba(194,200,201, 0.8);
  padding: 20px;
  width:100%;
  margin:0px;
  border-radius: 5px;
}

.steps-list-item {
  margin-bottom:15px;
  border-radius: 3px;
  padding: 10px;
}

.steps-list-item.selected {
  background-color: #f0ad4e;
  color: black;
  font-weight: bold;
}

.section-title{
	color: #C2C8C9;
}

.btn-lg{
	margin-bottom:15px;
}

.progress{
	background-color:#C2C8C9;
}

.right{
	background: url('/img/cook.svg');
	background-repeat:no-repeat;
	background-position: center;
	min-height: 600px;
	background-size: 650px;
	padding-top: 20px;
}