.form-control {
	width: 485px;
}
#headerwrap{
	padding-top:120px;
}
.btn-timer{
	background: red;
	border: red;
}
.instruction-txt{
	
	color:rgba(241,241,241,1);

}

.timer-des{
	color: rgba(240,240,240,1);
}
h1.large-timer{
	font-size: 100px !important;
	margin-top:0px !important;
	background: rgba(2,3,4,0.4);
}
.reset{
	color: #777;
	font-style:italic;
}

.steps-list {
  position: absolute;
  top: 10%;
  left: 10%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 25px;
}

.steps-list-item {
  margin-bottom:15px;
}

.steps-list-item.selected {
  background-color: #f0ad4e;
  color: black;
  font-weight: bold;
}