<html ng-app>
<head>
  <title>Sous Chef</title>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/flatty.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  <script type="text/javascript" src="js/main.js"></script> 
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><b>SOUS-CHEF</b></a>
      </div>
    </div>
  </div>
  <div id="headerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h1>Enter a Recipe to <br/>Start Cooking:</h1>
          <div ng-controller="RecipeCtrl" class="form-inline">
            <div ng-show="showInput()" >
              <textarea class="form-control form-group" ng-model="recipeText"></textarea>
              <button class="btn btn-warning btn-lg" ng-click="go()">Go!</button>
            </div>
            <div ng-show="showRecipe()">
              <div>
                <button class="btn btn-warning btn-lg" ng-click="back()">Back</button>
                <button class="btn btn-warning btn-lg" ng-click="previousStep()">Previous step</button>
                <button class="btn btn-warning btn-lg" ng-click="nextStep()">Next step</button>
              </div>
              <div ng-repeat="step in steps">
                <div ng-show="showStep($index)">
                  <h1>Step {{$index + 1}}</h1>
                  <h2 class="instruction-txt">{{step.text}}</h2>
                  <div ng-repeat="timer in step.timers">
                    {{timer.verb}} for {{timer.time}} {{timer.unit}}
                    <button class="btn btn-warning btn-lg btn-timer">Start Timer</button>
                    <span>{{timer.time}}</span> 
                    <a>reset</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /col-lg-8 -->
        <div class="col-lg-4">
          <img class="img-responsive" src="img/ipad-hand.png" alt="">
        </div><!-- /col-lg-4 -->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>Follow Recipes<br/>Clearly Now.</h1>
        <h3>Never miss a step.</h3>
      </div>
    </div><!-- /row -->
    
    <div class="row mt centered">
      <div class="col-lg-4">
        <img src="assets/img/ser01.png" width="180" alt="">
        <h4>1 - Step by Step</h4>
        <p>Sous-Chef breaks recipes down into individual steps.  Individual tasks are extracted from recipe steps providing a clear and easy way to follow recipes.</p>
      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <img src="assets/img/ser02.png" width="180" alt="">
        <h4>2 - Cooking Timers </h4>
        <p>Timers are created and set for each step of a recipe.</p>

      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <img src="assets/img/ser03.png" width="180" alt="">
        <h4>3 - Never Missing A Step</h4>
        <p>Easily navigate recipe instructions and complete a meal with no confusion.</p>

      </div><!--/col-lg-4 -->
    </div><!-- /row -->
  </div><!-- /container -->
  
  <div>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </div>
</body>
</html>