<html ng-app>
<head>
  <title>Sous Chef</title>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script> 
</head>
<body>
  <div>
    <p>Sous-chef breaks down recipes into individual cooking steps so you can easily follow along while cooking.  Customized timers that match recipe instructions are featured at each step.  Following a recipe has never been this simple.</p>
    <p>To begin, copy and paste a recipe:</p>
  </div>
  <div ng-controller="RecipeCtrl">
    <textarea ng-model="recipeText"></textarea>
    <button ng-click="go()">Go!</button>
  </div>

  <div>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  </div>
</body>
</html>