<html ng-app>
<head>
  <title>Sous Chef</title>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/flatty.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  <script type="text/javascript" src="js/soundmanager2-jsmin.js"></script>
  <script type="text/javascript" src="js/main.js"></script> 
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><b>SOUS-CHEF</b></a>
      </div>
    </div>
  </div>
  <div id="headerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1>Submit a Recipe and <br/>Start Cooking:</h1>
          <div ng-controller="RecipeCtrl" class="form-inline">
            <div ng-show="showInput()" >
              <textarea placeholder="Copy and Paste a recipe here..." class="form-control form-group" ng-model="recipeText"></textarea>
              <button class="btn btn-warning btn-lg" ng-click="go()">Go!</button>
            </div>
            <div ng-show="showRecipe()">
              <div>
                <button class="btn btn-warning btn-lg" ng-click="back()">Back</button>
                <button class="btn btn-warning btn-lg" ng-click="previousStep()">Previous step</button>
                <button class="btn btn-warning btn-lg" ng-click="nextStep()">Next step</button>
              </div>
              <div ng-repeat="step in steps">
                <div ng-show="showStep($index)">
                  <h1>Step {{$index + 1}}</h1>
                  <h2 class="instruction-txt">{{step.text}}</h2>
                  <div ng-controller="TimerCtrl" ng-repeat="timer in step.timers">
                    {{timer.verb}} for {{timer.time}} {{timer.unit}}
                    <button class="btn btn-warning btn-lg btn-timer" ng-click="toggle()">{{buttonCaption()}}</button>
                    <span>{{timeLeft()}}</span> 
                    <a ng-click="reset()">reset</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /col-lg-8 -->
        <div class="col-lg-6">
          <img class="img-responsive" src="img/cook.svg" width="650px" alt="">
        </div><!-- /col-lg-4 -->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>Follow Recipes<br/>Clearly.</h1>
        <h3>Never miss a step.</h3>
      </div>
    </div><!-- /row -->
    
    <div class="row mt centered">
      <div class="col-lg-4">
        <img src="img/checklist.svg" width="180" alt="">
        <h4>1 - Step by Step</h4>
        <p>Recipes are broken down into simple steps.</p>
      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <img src="img/timer.svg" width="180" alt="">
        <h4>2 - Cooking Timers </h4>
        <p>Timers are automatically set for each step.</p>

      </div><!--/col-lg-4 -->

      <div class="col-lg-4">
        <img src="img/checkmark.svg" width="180" height="180px" alt="">
        <h4>3 - Simple and Easy</h4>
        <p>Navigate recipe instructions without any confusion.</p>

      </div><!--/col-lg-4 -->
    </div><!-- /row -->
  </div><!-- /container -->
  <div class="container">
    <hr>
    <p class="centered">Chef icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a>. Flat illustrations made by <a href="http://designmodo.com/flat" title="
    Designmodo">Designmodo</a>.  Bootstrap template "<a href="http://www.blacktie.co/" target="_blank">Flatty</a>" by <a href="http://www.blacktie.co" target="_blank">BlackTie.co</a></p>
  </div>
</body>
</html>